.phoneAnimationGif {
    font-family: sans-serif;
    font-weight: 500;
    width: 260px;
    height: 520px;
    background: white;
    border: 10px solid #efefed;
    position: relative;
    border-radius: 35px;
    color: white;
    margin: 0 auto;
    transform: scale(0.9);
    overflow: hidden;

    section {
        padding-top: 0;
        margin: 0;
    }

    section.topbar {
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 22px;
        border-radius: 35px 35px 0 0;

        .inner {
            display: flex;
            flex-direction: row;

            .left {
                width: 25%;
                height: 20px;
                border-radius: 35px 0 0 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                p {
                    color: white;
                    margin: 0;
                    font-size: 10px;
                }
            }

            .notch {
                background: #efefed;
                width: 50%;
                height: 20px;
                border-radius: 0 0 13px 13px;
                position: relative;

                .bar {
                    width: 25%;
                    height: 5px;
                    margin: 0 auto;
                    margin-top: 5px;
                    background: #aeafaf;
                    border-radius: 35px;
                    position: relative;
                    z-index: 1;
                }

                &:before {
                    content: "";
                    background: #efefed;
                    position: absolute;
                    left: -2px;
                    right: -2px;
                    top: 0px;
                    height: 10px;
                    border-radius: 0 0 105px 105px;
                }
            }

            .right {
                width: 25%;
                height: 20px;
                border-radius: 0 35px 0 0;
                display: flex;
                flex-direction: row;

                .inner {
                    width: 100%;
                    padding: 0 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    height: 20px;

                    i {
                        font-size: 10px;
                        color: white;
                    }
                }
            }
        }
    }

    section.topbarContent {
        background: black;
        margin-top: 20px;

        .inner {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 15px;

            .title {
                margin-bottom: 0;

                h2 {
                    color: white;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 0;
                    font-size: 17px;
                    letter-spacing: 1px;
                }
            }

            .menu {
                position: absolute;
                top: 15px;
                right: 15px;

                .dots {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    .dot {
                        background: white;
                        height: 4px;
                        width: 4px;
                        border-radius: 100%;
                        margin-top: 3px;

                        &:first-of-type {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    section.menuType {
        .inner {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 5px 15px 0 15px;

            .type {
                width: 30%;

                p {
                    font-weight: bold;
                    text-align: center;
                    margin: 0;
                    padding: 15px 0 10px 0;
                }

                &.reports {
                    p {
                        color: #28bbd5;
                    }
                }

                &.prices {
                    p {
                        color: #cd3063;
                    }
                }

                &.tools {
                    p {
                        color: #f07f31;
                    }
                }
            }
        }
    }

    section.highlightParent {
        margin-bottom: 20px;

        .inner {
            padding: 0 19px;
            display: flex;
            flex-direction: row;
            justify-content: unset;
            height: unset;

            .highlight {
                background: #28bbd5;
                width: 60px;
                height: 2px;

                animation-name: highlightAnim;
                animation-direction: normal;
                animation-duration: 6s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                animation-delay: 1s;
            }
        }
    }

    section.menuList {
        position: relative;

        .inner {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 0 15px 0;
            display: flex;
            flex-direction: row;

            animation-name: itemsAnim;
            animation-direction: normal;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-delay: 1s;

            .reportsType,
            .pricesType,
            .toolsType {
                width: 210px;
                margin: 0 15px;

                .items {
                    .item {
                        height: 60px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        margin: 13px 0;
                        border-radius: 7px;

                        p {
                            text-transform: uppercase;
                            margin: 0;
                            width: 70%;
                            text-align: center;
                            font-size: 13px;
                            color: white;
                        }

                        i {
                            position: absolute;
                            top: 20px;
                            right: 10px;
                            padding: 8px;
                            border-radius: 100%;
                            border: 1px solid white;
                            width: 10px;
                            height: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 11px;
                        }

                        &:first-of-type {
                            margin-top: 0;
                        }
                    }
                }
            }

            .reportsType {
                .items {
                    .item {
                        background: #37cedc;
                        background: -webkit-gradient(left top, right top, color-stop(0%, #37cedc), color-stop(100%, #5a88e4));
                        background: -webkit-gradient(linear, left top, right top, from(#37cedc), to(#5a88e4));
                        background: linear-gradient(to right, #37cedc 0%, #5a88e4 100%);
                    }
                }
            }

            .pricesType {
                .items {
                    .item {
                        background: #be2b61;
                        background: -webkit-gradient(left top, right top, color-stop(0%, #be2b61), color-stop(100%, #7c3983));
                        background: -webkit-gradient(linear, left top, right top, from(#be2b61), to(#7c3983));
                        background: linear-gradient(to right, #be2b61 0%, #7c3983 100%);
                    }
                }
            }

            .toolsType {
                .items {
                    .item {
                        background: #ef9219;
                        background: -webkit-gradient(left top, right top, color-stop(100%, #ef9219), color-stop(0%, #fd562c));
                        background: -webkit-gradient(linear, left top, right top, color-stop(100%, #ef9219), color-stop(0%, #fd562c));
                        background: linear-gradient(to right, #ef9219 100%, #fd562c 0%);
                    }
                }
            }
        }
    }

}

//Animations
//highlight
@-webkit-keyframes highlightAnim {
    0% { //0sec
        transform: translateX(0);
        background: #28bbd5;
    }
    10% { //0.6 sec
        transform: translateX(0);
        background: #28bbd5;
    }
    20% { //1.2 sec
        transform: translateX(0);
        background: #28bbd5;
    }
    30% { //1.8 sec
        transform: translateX(80px);
        background: #cd3063;
    }
    40% { //2.4 sec
        transform: translateX(80px);
        background: #cd3063;
    }
    50% { //3 sec
        transform: translateX(80px);
        background: #cd3063;
    }
    60% { //3.6 sec
        transform: translateX(160px);
        background: #f07f31;
    }
    70% { //4.2 sec
        transform: translateX(160px);
        background: #f07f31;
    }
    80% { //4.8 sec
        transform: translateX(160px);
        background: #f07f31;
    }
    90% { //5.4 sec
        transform: translateX(0);
        background: #28bbd5;
    }
    100% { //6 sec
        transform: translateX(0);
        background: #28bbd5;
    }
}

@keyframes highlightAnim {
    0% { //0sec
        transform: translateX(0);
        background: #28bbd5;
    }
    10% { //0.6 sec
        transform: translateX(0);
        background: #28bbd5;
    }
    20% { //1.2 sec
        transform: translateX(0);
        background: #28bbd5;
    }
    30% { //1.8 sec
        transform: translateX(72px);
        background: #cd3063;
    }
    40% { //2.4 sec
        transform: translateX(72px);
        background: #cd3063;
    }
    50% { //3 sec
        transform: translateX(72px);
        background: #cd3063;
    }
    60% { //3.6 sec
        transform: translateX(146px);
        background: #f07f31;
    }
    70% { //4.2 sec
        transform: translateX(146px);
        background: #f07f31;
    }
    80% { //4.8 sec
        transform: translateX(146px);
        background: #f07f31;
    }
    90% { //5.4 sec
        transform: translateX(0);
        background: #28bbd5;
    }
    100% { //6 sec
        transform: translateX(0);
        background: #28bbd5;
    }
}
//items
@-webkit-keyframes itemsAnim {
    0% { //0sec
        left: 0;
    }
    10% { //0.6 sec
        left: 0;
    }
    20% { //1.2 sec
        left: 0;
    }
    30% { //1.8 sec
        left: -240px;
    }
    40% { //2.4 sec
        left: -240px;
    }
    50% { //3 sec
        left: -240px;
    }
    60% { //3.6 sec
        left: -480px;
    }
    70% { //4.2 sec
        left: -480px;
    }
    80% { //4.8 sec
        left: -480px;
    }
    90% { //5.4 sec
        left: 0;
    }
    100% { //6 sec
        left: 0;
    }
}

@keyframes itemsAnim {
    0% { //0sec
        left: 0;
    }
    10% { //0.6 sec
        left: 0;
    }
    20% { //1.2 sec
        left: 0;
    }
    30% { //1.8 sec
        left: -240px;
    }
    40% { //2.4 sec
        left: -240px;
    }
    50% { //3 sec
        left: -240px;
    }
    60% { //3.6 sec
        left: -480px;
    }
    70% { //4.2 sec
        left: -480px;
    }
    80% { //4.8 sec
        left: -480px;
    }
    90% { //5.4 sec
        left: 0;
    }
    100% { //6 sec
        left: 0;
    }
}