/* latin "satisy" font */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v9/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

//bootstrap
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: 100%;
  line-height: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 22px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.accordion .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

section.faq .container .inner .accordion .card .card-header button {
  padding: 0;
  width: 100%;
  color: #212121;
  white-space: unset;
  text-align: center;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

.btn-link {
  font-weight: 400;
  background-color: transparent;
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container {
  //padding-right: 15px;
  //padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

//some general styles
.getApp {
  position: relative;
  background: white;
  border-radius: 10px;
  margin: 15px 0;
  width: 150px;

  p {
    color: #6307aa;
    font-size: 14px;
    margin-bottom: 0;
    padding: 5px 25px;
    text-align: center;
  }

  &.hidden-Mobile {
    display: none;
  }

  &.hidden-desktop {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.small-title-text {
  width: 100%;
  margin: 0 auto;
}

//vimeo
.vimeo {
  display: none;

  .stop-video {
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 12;
    top: 15px;
    right: 15px;
    background: #6307aa;
    padding: 15px;
    height: 50px;
    width: 50px;
    border-radius: 100%;

    i {
      font-size: 24px;
      color: white;
    }
  }

  .overlay {
    z-index: 10 !important;
    background: black;
  }

  .vimeo-iframe,
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
  }
}


//menu icon
.mobileNavIcon {
  position: relative;
  width: 30px;
  margin-top: 2px;
  transition: all 200ms;
  padding: 10px 0;

  .bar {
    height: 2px;
    width: 25px;
    background: white;
    transition: all 200ms;

    &:nth-of-type(2) {
      margin: 2px 0;
      opacity: 0;
      height: 1px;
    }
  }

  &.close {
    padding: 10px 0;
    opacity: 1 !important;

    .bar {
      &:first-of-type {
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        display: none;
      }

      &:last-of-type {
        transform: rotate(-45deg);
        margin-top: -2px;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}

//animation
.fade-up {
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.fade-in {
  opacity: 1 !important;
}

.custom-fade-up-1 {
  -webkit-transform: translateY(-70px) !important;
  transform: translateY(-70px) !important;
  opacity: 1 !important;
}
.slide-from-left {
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.slide-from-right {
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.animated {
  opacity: 0;
  transition: 1000ms ease-in-out;
}

//code from other people
.pulse {
  //margin:100px;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 60%;
  //background: #FFA500;
  //cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 0px rgba(204,169,44, 0);
    box-shadow: 0 0 0 20px rgba(255,165,0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}