@media screen and (max-width: 400px) {
  section.intro {
    .container {
      .inner {
        .right-side {
          .inner {
            height: unset;

            .watch-video {
              .inner {
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 450px) {
  header {
    .container {
      .inner {
        padding: 0 15px;
      }
    }
  }

  section.intro {
    .container {
      .inner {
        .mobile-phone {
          .img {
            background: url('../img/introPhone2.png') no-repeat center 0;
            -webkit-background-size: contain;
            background-size: contain;
            width: 100%;
          }
        }
      }
    }
  }

  section.contact {
    .container {
      .inner {
        .info {
          width: 260px;
          margin: 0 auto;
        }
      }
    }
  }

  footer {
    .container {
      .inner {
        #animation_container {
          width: 390px !important;
          height: 228.497px !important;

          canvas {
            width: 390px !important;
            height: 228.497px !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .phoneAnimationGif {
    width: 290px;
    height: 550px;
  }

  .desktop-phone {
    display: block;
  }

  .mobile-phone {
    display: none;
  }

  section {
    margin: 50px 0 90px 0;
    padding-top: 40px;

    .container {
      width: 80%;
    }
  }

  section.faq {
    .container {
      width: 50%;
    }
  }

  header {
    .container {
      width: 80%;

      .inner {
        .logo {
          .text {
            h1 {
              font-size: 27px;
            }

            p {
              bottom: 0;
            }
          }
        }

        .brand {
          h1 {
            margin-right: -65px;
            font-size: 27px;
          }
        }
      }
    }
  }

  section.intro {
    min-height: 65vh;

    .container {
      .inner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .left-side {
          width: 350px;
          display: flex;
          justify-content: center;

          .img {
            width: 220px;
            height: 400px;
            display: block;
            margin-bottom: 2rem;
          }
        }

        .right-side {
          width: 500px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          .inner {
            .text {
              width: 100%;

              p {
                &:last-of-type {
                  margin-bottom: 0;
                }
              }
            }

            .buttons {
              align-items: flex-start;

              .watch-video {
                width: 200px;

                .inner {
                  padding: 0;
                }
              }
            }
          }
        }

        .mobile-phone {
          .img {
            display: none;
          }
        }
      }
    }
  }

  section.download {
    .container {
      .inner {
        .buttons {
          margin: 2rem 0 0 0;

          .android,
          .ios {
            .img {
              height: 60px;
              width: 180px;
            }
          }

          .android {
            justify-content: flex-start;
          }

          .ios {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }

  section.about {
    .container {
      .inner {
        .grid-row {
          flex-wrap: wrap;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .item {
            width: 45%;
            text-align: left;

            &.filler {
              display: block;
            }
          }
        }
      }
    }
  }

  section.roadmap {
    .container {
      .inner {
        .road-item {
          width: 660px;
          margin: 0 auto;
        }
      }
    }
  }

  section.team {
    .container {
      .inner {
        .title {
          .small-title-text {
            font-size: 18px;
          }
        }
        .grid-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;

          .team-member {
            width: 47%;

            &.filler {
              display: block;
            }
          }
        }
      }
    }
  }

  section.testimonials {
    .container {
      .inner {
        .grid-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .testimonials-item {
            min-height: 331px;
          }
        }
      }
    }
  }


  .small-title-text {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  section.intro {
    .container {
      .inner {
        .right-side {
          .inner {
            .download-buttons {
              .android {
                .img {
                  background: url("../img/android-download-btn.png") no-repeat center;
                  -webkit-background-size: contain;
                  background-size: contain;
                }
              }

              .ios {
                .img {
                  background: url("../img/apple-download-btn.png") no-repeat center;
                  -webkit-background-size: contain;
                  background-size: contain;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  * {
    scroll-behavior: smooth !important;
  }

  section {
    margin: 30px 0 60px 0;
    padding-top: 30px;
  }

  section.intro {
    .container {
      .inner {
        .top {
          .img {
            -webkit-background-size: contain;
            background-size: contain;
          }
        }

        .right-side {
          .inner {
            .second-title {
              font-size: 37px;
              text-align: left;
            }

            p {
              text-align: left;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  section.testimonials {
    .container {
      .inner {
        .grid-row {
          .testimonials-item {
            min-height: 358px !important;
          }
        }
      }
    }
  }

  section.team {
    .container {
      .inner {
        .grid-row {
          .team-member {
            width: 45%;
          }
        }
      }
    }
  }

  section.download {
    .container {
      .inner {
        .buttons {
          .android,
          .ios {
            .img {
              height: 100px;
              width: 220px;
            }
          }

          .android,
          .ios {
            justify-content: center;
          }
        }
      }
    }
  }

}

@media screen and (min-width: 1200px) {
  section {
    margin: 0 0 90px 0;
    padding-top: 90px;
  }

  header {
    .container {
      .inner {
        .menu {
          justify-content: flex-start;

          .mobileNavIcon {
            display: none;
          }

          .desktop-menu {
            display: block;
          }
        }
      }
    }
  }

  section.download {
    .container {
      .inner {
        .buttons {
          margin: 2rem 0 0 0;

          .android,
          .ios {
            .img {
              height: 60px;
              width: 180px;
            }
          }

          .android {
            justify-content: flex-start;
          }

          .ios {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}