@import "includes";

//fonts
@font-face {
  font-family: ubahn;
  src: url('../fonts/Ubahn.ttf');
}

@font-face {
  font-family: ubahn-light;
  src: url('../fonts/Ubahn-Light.ttf');
}

@font-face {
  font-family: Arial-rounded-MT-bold;
  src: url('../fonts/Arial-rounded-MT-bold.TTF');
}

//general
* {
  scroll-behavior: unset !important;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Raleway', sans-serif !important;
  scroll-behavior: smooth !important;
}


.desktop-phone {
  display: none;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 10px;
}

.transparent {
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
}

.sticky-header {
  background: #181818;
}

section {
  margin: 20px 0 60px 0;
  padding-top: 40px;

  .container {
    width: 100%;

    .inner {
      padding: 0 15px;
    }
  }
}

.title {
  margin-bottom: 30px;
  text-align: center;

  h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0299f1;
  }

  p {
    font-family: 'Satisfy', cursive;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

.second-title {
  margin: 0 0 15px;
  color: #222;
  font-size: 24px;
  font-weight: 500;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

p {
  color: #666;
  letter-spacing: 0.5px;
  font-size: 15px;
  margin-top: 0;
}
//end general

header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  color: white;
  font-size: 15px;
  line-height: 1.6;
  transition: background 800ms ease;

  .container {
    .inner {
      position: relative;
      padding: 10px 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .logo {
        width: 350px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .text {
          position: relative;
          margin-right: 30px;

          h1 {
            font-family: Arial-rounded-MT-bold, sans-serif;
            font-size: 20px;
            margin-bottom: 0;

            span {
              color: #ffc000;
            }
          }

          p {
            font-family: Arial-rounded-MT-bold, sans-serif;
            color: #ffc000;
            position: absolute;
            bottom: -2px;
            right: -40px;
            margin-bottom: 0;
            font-weight: bold;
          }
        }
      }

      .menu {
        //position: absolute;
        //top: 12px;
        //right: 15px;
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;

        .mobileNavIcon {
          display: block;
        }

        .desktop-menu {
          display: none;

          .inner {
            padding: 15px 0;

            ul {
              margin: 0;
              padding-left: 0;

              li {
                display: inline-block;
                margin: 0 4px;

                a {
                  letter-spacing: 1px;
                  color: #bdd7ee;
                  text-decoration: none;
                  font-size: 18px;
                  font-family: ubahn-light;
                  font-weight: bold;
                  transition: ease 200ms;

                  &:hover {
                    color: white;
                  }

                  &.selected {
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

section.fullscreen-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #181818;
  color: white;
  z-index: 2;
  text-align: center;
  padding: 45px 0 30px 0;
  margin: 0;
  transition: background 800ms ease;

  .container {
    height: 100%;

    .inner {
      display: flex;
      justify-content: center;
      height: 100%;

      ul {
        padding-left: 0;
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        li {
          list-style-type: none;

          a {
            letter-spacing: 1px;
            color: white;
            text-decoration: none;
            font-size: 24px;
          }
        }
      }
    }
  }
}

section.intro {
  position: relative;
  margin: 0;
  min-height: 100vh;
  height: auto;

  background: rgba(52,138,199,1);
  background: -moz-linear-gradient(-45deg, rgba(52,138,199,1) 0%, rgba(116,116,191,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(52,138,199,1)), color-stop(100%, rgba(116,116,191,1)));
  background: -webkit-linear-gradient(-45deg, rgba(52,138,199,1) 0%, rgba(116,116,191,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(52,138,199,1) 0%, rgba(116,116,191,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(52,138,199,1) 0%, rgba(116,116,191,1) 100%);
  background: linear-gradient(135deg, rgba(52,138,199,1) 0%, rgba(116,116,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#348ac7', endColorstr='#7474bf', GradientType=1 );

  .second-title {
    color: #fff;
  }

  .container {
    padding-top: 30px;
    height: 100%;

    .inner {
      height: calc(100% - 60px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .top {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .text {
          text-align: center;
          width: 100%;

          .second-title {
            font-size: 21px;
            font-weight: 700;
          }

          p {
            color: white;
          }
        }
      }

      .right-side {
        .inner {
          flex-direction: column;
          height: 400px;

          .text {
            text-align: center;

            p {
              color: white;

              &:last-of-type {
                color: #bdd7ee;
              }
            }

            .second-title {
              line-height: 45px;
            }
          }

          .download-buttons {
            margin: 2rem 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .ios {
              width: 50%;
              position: relative;
              display: flex;
              justify-content: flex-end;

              .img {
                background: url("../img/imgSpriteCompressed.png") no-repeat;
                background-position: -200px -297px;
                height: 70px;
                width: 95%;
              }
            }

            .android {
              width: 50%;
              position: relative;

              .img {
                background: url("../img/imgSpriteCompressed.png") no-repeat;
                background-position: 0 -297px;
                height: 70px;
                width: 95%;
              }
            }
          }


          .buttons {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .watch-video {
              position: relative;
              background: #6307aa;
              border-bottom: 5px solid #26054c;
              padding: 15px 25px;
              border-radius: 40px;
              box-shadow: 0 2px 10px rgba(0,0,0,0.5);
              width: 230px;
              margin: 15px 0;

              .inner {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                color: white;
                height: auto;

                p {
                  margin-bottom: 0;
                  margin-left: 20px;
                  color: white;
                }
              }

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      .left-side {
        .gif-container {
          -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
          margin-bottom: 2rem;
        }
      }
    }
  }
}

section.about {
  .container {
    .inner {
      .grid-row {
        .item {
          text-align: center;
          -webkit-transform: translateY(30px);
          transform: translateY(30px);
          margin-bottom: 60px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .img {
            margin: 15px 0 10px 0;
            width: 96px;
            height: 96px;

            background: url("../img/imgSpriteCompressed.png") no-repeat;
            background-position: 0 0;
          }

          .title {
            font-weight: bold;
            text-transform: uppercase;
          }

          &.filler {
            display: none;
          }

          &:nth-of-type(2) {
            .img {
              background: url("../img/imgSpriteCompressed.png") no-repeat;
              background-position: -95px 0;
            }
          }

          &:nth-of-type(3) {
            .img {
              background: url("../img/imgSpriteCompressed.png") no-repeat;
              background-position: -190px 0;
            }
          }

          &:nth-of-type(4) {
            .img {
              background: url("../img/imgSpriteCompressed.png") no-repeat;
              background-position: -300px 0;
            }
          }
        }
      }
    }
  }
}

section.roadmap {
  .container {
    .inner {
      .road-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .road {
          opacity: 0;
          width: 20%;

          .bullet {
            width: 18px;
            height: 18px;
            border-radius: 100%;
            border: 2px solid #ed824e;
          }

          .line {
            width: 2px;
            height: calc(100% - 18px);
            background: url("../img/dashedBG.png");
            margin-left: 8px;
          }
        }

        .text {
          width: 80%;
          margin-bottom: 75px;
          -webkit-transform: translateX(30px);
          transform: translateX(30px);

          p {
            margin-top: -2px;

            &:first-of-type {
              color: black;
              font-weight: bold;
            }
          }

          .more-text {
            display: none;

            p {
              color: #666;
              font-weight: normal;
            }
          }

          .btn {
            background: #0299f1;
            border-radius: 5px;
            border: 2px solid #0299f1;
            transition: 500ms ease-in-out;
            min-width: 65px;
            text-align: center;

            p {
              color: white;
              margin-bottom: 0;
              transition: 500ms ease-in-out;
            }

            &.open {
              background: white;
              border: 2px solid #0299f1;

              p {
                color: #0299f1;
              }
            }
          }
        }

        &.complete {
          .road {
            .bullet {
              border-color: #8903aa;
            }

            .line {
              background: #8903aa;
            }
          }
        }

        &.active {
          .road {
            .bullet {
              height: 20px;
              width: 20px;
              margin-left: -1px;
              position: relative;
              border-color: #ed824e;

              &:after {
                content: '';
                background: #ed824e;
                border-radius: 100%;
                width: 10px;
                height: 10px;
                display: block;
                position: absolute;
                left: 3px;
                top: 3px;
              }
            }

            .line {
              height: calc(100% - 20px);
            }
          }
        }
      }
    }
  }
}

section.team {
  .container {
    .inner {
      .title {
        .small-title-text {
          margin-top: 10px;
          font-size: 14px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            font-family: unset;
            text-align: center;
            color: #666;
            letter-spacing: 0.5px;
            font-size: 15px;
          }

          ul {
            margin: 0 auto;

            li {
              list-style-type: disc;
              text-align: left;
              color: #666;
              letter-spacing: 0.5px;
              font-size: 15px;
            }
          }
        }
      }
      .grid-row {
        .team-member {
          -webkit-transform: translateY(30px);
          transform: translateY(30px);
          -webkit-box-shadow: 0 0 20px 5px #e2e2e2;
          box-shadow: 0 0 20px 5px #e2e2e2;
          margin-top: 50px;
          text-align: center;
          background: #f7f7f7;
          border-radius: 15px;

          .inner {
            padding: 15px;

            .img {
              margin: 0 auto;
              border-radius: 100%;
              height: 100px;
              width: 100px;
              margin-bottom: 20px;
            }

            .text {
              min-height: 144px;

              p {
                font-size: 16px;
                margin-bottom: 10px;
                color: #222222;
              }

              .name {
                p {
                  font-weight: 600;
                  font-size: 18px;
                }
              }

              .function {
                p {
                  font-size: 17px;
                  color: #666666;
                }
              }

              .small-text {
                width: 162px;
                margin: 0 auto;

                p {
                  color: #999999;
                }
              }
            }

            .social {
              margin-top: 15px;

              .linkedIn {
                position: relative;

                i {
                  color: #0077B5;
                }
              }
            }
          }

          &.Leedo {
            .inner {
              .img {
                background: url("../img/imgSpriteCompressed.png") no-repeat;
                background-position: 0 -95px;
              }
            }
          }

          &.Gerard {
            .inner {
              .img {
                background: url("../img/imgSpriteCompressed.png") no-repeat;
                background-position: -100px -95px;
              }
            }
          }

          &.Stijn {
            .inner {
              .img {
                background: url("../img/imgSpriteCompressed.png") no-repeat;
                background-position: -300px -95px;
              }
            }
          }

          &.Bram {
            .inner {
              .img {
                background: url("../img/imgSpriteCompressed.png") no-repeat;
                background-position: -400px -95px;
              }
            }
          }

          &.Jordey {
            .inner {
              .img {
                background: url("../img/imgSpriteCompressed.png") no-repeat;
                background-position: -200px -95px;
              }
            }
          }

          &.filler {
            display: none;
          }
        }
      }
    }
  }
}

section.faq {
  .container {
    width: 100%;

    .inner {
      .accordion {
        .card {
          .card-header {
            button {
              padding: 0;
              width: 100%;
              color: #212121;
              white-space: unset;
              text-align: center;
            }

            .btn-link {
              &:hover,
              &:focus {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

section.testimonials {
  .container {
    .inner {
      .grid-row {
        .testimonials-item {
          min-height: 259px;

          .inner {
            padding: 30px 15px;

            .img {
              background: url("../img/imgSpriteCompressed.png") no-repeat;
              background-position: 0 -195px;
            }
            
            .text {
              width: 95%;
              margin: 0 auto;

              .small-text {
                width: 100%;

                p {
                  color: #666666;
                  margin-bottom: 0;
                }
              }
            }
          }

          &:nth-of-type(2) {
            .inner {
              .img {
                background: url("../img/imgSpriteCompressed.png") no-repeat;
                background-position: -100px -195px;
              }
            }
          }

          &:nth-of-type(3) {
            .inner {
              .img {
                background: url("../img/imgSpriteCompressed.png") no-repeat;
                background-position: -200px -195px;
              }
            }
          }

          &:nth-of-type(4) {
            .inner {
              .img {
                background: url("../img/imgSpriteCompressed.png") no-repeat;
                background-position: -300px -195px;
              }
            }
          }
        }
      }
    }
  }
}

section.contact {
  .container {
    .inner {
      .info {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);

        i {
          color: #0299f1;
          font-size: 20px;
          margin-right: 25px;
          margin-top: 2px;
        }

        .email,
        .location,
        .twitter {
          display: flex;
          flex-direction: row;
        }

        .twitter {
          position: relative;
        }
        
        h4 {
          font-size: 18px;
          color: #666;
        }
      }
    }
  }
}

footer {
  background: #333;
  text-align: center;

  .container {
    .inner {
      padding: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .img {
        background: url("../img/imgSpriteCompressed.png") no-repeat;
        background-position: 0 -370px;
        height: 150px;
        width: 240px;
        margin: 30px 0;
      }

      p {
        margin: 0 0 30px 0;
        color: #666;
      }

      #animation_container {
        margin: 0 auto;
        width: 100% !important;

        canvas {
          width: 100% !important;
          height: auto !important;

          &:last-of-type {
            display: none !important;
          }

          &:first-of-type {
            display: block !important;
          }
        }
      }
    }
  }
}

@import "queries";
@import "customGif";
