/* latin "satisy" font */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local("Satisfy Regular"), local("Satisfy-Regular"), url(https://fonts.gstatic.com/s/satisfy/v9/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: 100%;
  line-height: inherit;
  font-family: inherit;
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 22px; }

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem; }

.accordion .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0; }

section.faq .container .inner .accordion .card .card-header button {
  padding: 0;
  width: 100%;
  color: #212121;
  white-space: unset;
  text-align: center; }

.btn:not(:disabled):not(.disabled) {
  cursor: pointer; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

.btn-link {
  font-weight: 400;
  background-color: transparent; }

.collapse {
  display: none; }

.collapse.show {
  display: block; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease; }

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem; }

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.container {
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.getApp {
  position: relative;
  background: white;
  border-radius: 10px;
  margin: 15px 0;
  width: 150px; }
  .getApp p {
    color: #6307aa;
    font-size: 14px;
    margin-bottom: 0;
    padding: 5px 25px;
    text-align: center; }
  .getApp.hidden-Mobile {
    display: none; }
  .getApp.hidden-desktop {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; }

.small-title-text {
  width: 100%;
  margin: 0 auto; }

.vimeo {
  display: none; }
  .vimeo .stop-video {
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 12;
    top: 15px;
    right: 15px;
    background: #6307aa;
    padding: 15px;
    height: 50px;
    width: 50px;
    border-radius: 100%; }
    .vimeo .stop-video i {
      font-size: 24px;
      color: white; }
  .vimeo .overlay {
    z-index: 10 !important;
    background: black; }
  .vimeo .vimeo-iframe,
  .vimeo .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11; }

.mobileNavIcon {
  position: relative;
  width: 30px;
  margin-top: 2px;
  transition: all 200ms;
  padding: 10px 0; }
  .mobileNavIcon .bar {
    height: 2px;
    width: 25px;
    background: white;
    transition: all 200ms; }
    .mobileNavIcon .bar:nth-of-type(2) {
      margin: 2px 0;
      opacity: 0;
      height: 1px; }
  .mobileNavIcon.close {
    padding: 10px 0;
    opacity: 1 !important; }
    .mobileNavIcon.close .bar:first-of-type {
      transform: rotate(45deg); }
    .mobileNavIcon.close .bar:nth-of-type(2) {
      display: none; }
    .mobileNavIcon.close .bar:last-of-type {
      transform: rotate(-45deg);
      margin-top: -2px; }
  .mobileNavIcon:hover {
    cursor: pointer; }

.fade-up {
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  opacity: 1 !important; }

.fade-in {
  opacity: 1 !important; }

.custom-fade-up-1 {
  -webkit-transform: translateY(-70px) !important;
  transform: translateY(-70px) !important;
  opacity: 1 !important; }

.slide-from-left {
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
  opacity: 1 !important; }

.slide-from-right {
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
  opacity: 1 !important; }

.animated {
  opacity: 0;
  transition: 1000ms ease-in-out; }

.pulse {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 60%;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 2s infinite; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 0px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(255, 165, 0, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }

@font-face {
  font-family: ubahn;
  src: url("../fonts/Ubahn.ttf"); }

@font-face {
  font-family: ubahn-light;
  src: url("../fonts/Ubahn-Light.ttf"); }

@font-face {
  font-family: Arial-rounded-MT-bold;
  src: url("../fonts/Arial-rounded-MT-bold.TTF"); }

* {
  scroll-behavior: unset !important; }

body {
  margin: 0;
  position: relative;
  font-family: 'Raleway', sans-serif !important;
  scroll-behavior: smooth !important; }

.desktop-phone {
  display: none; }

.fa-quote-left,
.fa-quote-right {
  font-size: 10px; }

.transparent {
  opacity: 0; }

.no-scroll {
  overflow: hidden; }

.sticky-header {
  background: #181818; }

section {
  margin: 20px 0 60px 0;
  padding-top: 40px; }
  section .container {
    width: 100%; }
    section .container .inner {
      padding: 0 15px; }

.title {
  margin-bottom: 30px;
  text-align: center; }
  .title h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0299f1; }
  .title p {
    font-family: 'Satisfy', cursive;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 0; }

.second-title {
  margin: 0 0 15px;
  color: #222;
  font-size: 24px;
  font-weight: 500; }

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

p {
  color: #666;
  letter-spacing: 0.5px;
  font-size: 15px;
  margin-top: 0; }

header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  color: white;
  font-size: 15px;
  line-height: 1.6;
  transition: background 800ms ease; }
  header .container .inner {
    position: relative;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    header .container .inner .logo {
      width: 350px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      header .container .inner .logo .text {
        position: relative;
        margin-right: 30px; }
        header .container .inner .logo .text h1 {
          font-family: Arial-rounded-MT-bold, sans-serif;
          font-size: 20px;
          margin-bottom: 0; }
          header .container .inner .logo .text h1 span {
            color: #ffc000; }
        header .container .inner .logo .text p {
          font-family: Arial-rounded-MT-bold, sans-serif;
          color: #ffc000;
          position: absolute;
          bottom: -2px;
          right: -40px;
          margin-bottom: 0;
          font-weight: bold; }
    header .container .inner .menu {
      width: 550px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end; }
      header .container .inner .menu .mobileNavIcon {
        display: block; }
      header .container .inner .menu .desktop-menu {
        display: none; }
        header .container .inner .menu .desktop-menu .inner {
          padding: 15px 0; }
          header .container .inner .menu .desktop-menu .inner ul {
            margin: 0;
            padding-left: 0; }
            header .container .inner .menu .desktop-menu .inner ul li {
              display: inline-block;
              margin: 0 4px; }
              header .container .inner .menu .desktop-menu .inner ul li a {
                letter-spacing: 1px;
                color: #bdd7ee;
                text-decoration: none;
                font-size: 18px;
                font-family: ubahn-light;
                font-weight: bold;
                transition: ease 200ms; }
                header .container .inner .menu .desktop-menu .inner ul li a:hover {
                  color: white; }
                header .container .inner .menu .desktop-menu .inner ul li a.selected {
                  color: white; }

section.fullscreen-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #181818;
  color: white;
  z-index: 2;
  text-align: center;
  padding: 45px 0 30px 0;
  margin: 0;
  transition: background 800ms ease; }
  section.fullscreen-menu .container {
    height: 100%; }
    section.fullscreen-menu .container .inner {
      display: flex;
      justify-content: center;
      height: 100%; }
      section.fullscreen-menu .container .inner ul {
        padding-left: 0;
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column; }
        section.fullscreen-menu .container .inner ul li {
          list-style-type: none; }
          section.fullscreen-menu .container .inner ul li a {
            letter-spacing: 1px;
            color: white;
            text-decoration: none;
            font-size: 24px; }

section.intro {
  position: relative;
  margin: 0;
  min-height: 100vh;
  height: auto;
  background: #348ac7;
  background: -moz-linear-gradient(-45deg, #348ac7 0%, #7474bf 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #348ac7), color-stop(100%, #7474bf));
  background: -webkit-linear-gradient(-45deg, #348ac7 0%, #7474bf 100%);
  background: -o-linear-gradient(-45deg, #348ac7 0%, #7474bf 100%);
  background: -ms-linear-gradient(-45deg, #348ac7 0%, #7474bf 100%);
  background: linear-gradient(135deg, #348ac7 0%, #7474bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#348ac7', endColorstr='#7474bf', GradientType=1 ); }
  section.intro .second-title {
    color: #fff; }
  section.intro .container {
    padding-top: 30px;
    height: 100%; }
    section.intro .container .inner {
      height: calc(100% - 60px);
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      section.intro .container .inner .top {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center; }
        section.intro .container .inner .top .text {
          text-align: center;
          width: 100%; }
          section.intro .container .inner .top .text .second-title {
            font-size: 21px;
            font-weight: 700; }
          section.intro .container .inner .top .text p {
            color: white; }
      section.intro .container .inner .right-side .inner {
        flex-direction: column;
        height: 400px; }
        section.intro .container .inner .right-side .inner .text {
          text-align: center; }
          section.intro .container .inner .right-side .inner .text p {
            color: white; }
            section.intro .container .inner .right-side .inner .text p:last-of-type {
              color: #bdd7ee; }
          section.intro .container .inner .right-side .inner .text .second-title {
            line-height: 45px; }
        section.intro .container .inner .right-side .inner .download-buttons {
          margin: 2rem 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between; }
          section.intro .container .inner .right-side .inner .download-buttons .ios {
            width: 50%;
            position: relative;
            display: flex;
            justify-content: flex-end; }
            section.intro .container .inner .right-side .inner .download-buttons .ios .img {
              background: url("../img/imgSpriteCompressed.png") no-repeat;
              background-position: -200px -297px;
              height: 70px;
              width: 95%; }
          section.intro .container .inner .right-side .inner .download-buttons .android {
            width: 50%;
            position: relative; }
            section.intro .container .inner .right-side .inner .download-buttons .android .img {
              background: url("../img/imgSpriteCompressed.png") no-repeat;
              background-position: 0 -297px;
              height: 70px;
              width: 95%; }
        section.intro .container .inner .right-side .inner .buttons {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center; }
          section.intro .container .inner .right-side .inner .buttons .watch-video {
            position: relative;
            background: #6307aa;
            border-bottom: 5px solid #26054c;
            padding: 15px 25px;
            border-radius: 40px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
            width: 230px;
            margin: 15px 0; }
            section.intro .container .inner .right-side .inner .buttons .watch-video .inner {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              color: white;
              height: auto; }
              section.intro .container .inner .right-side .inner .buttons .watch-video .inner p {
                margin-bottom: 0;
                margin-left: 20px;
                color: white; }
            section.intro .container .inner .right-side .inner .buttons .watch-video:hover {
              cursor: pointer; }
      section.intro .container .inner .left-side .gif-container {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
        margin-bottom: 2rem; }

section.about .container .inner .grid-row .item {
  text-align: center;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  section.about .container .inner .grid-row .item .img {
    margin: 15px 0 10px 0;
    width: 96px;
    height: 96px;
    background: url("../img/imgSpriteCompressed.png") no-repeat;
    background-position: 0 0; }
  section.about .container .inner .grid-row .item .title {
    font-weight: bold;
    text-transform: uppercase; }
  section.about .container .inner .grid-row .item.filler {
    display: none; }
  section.about .container .inner .grid-row .item:nth-of-type(2) .img {
    background: url("../img/imgSpriteCompressed.png") no-repeat;
    background-position: -95px 0; }
  section.about .container .inner .grid-row .item:nth-of-type(3) .img {
    background: url("../img/imgSpriteCompressed.png") no-repeat;
    background-position: -190px 0; }
  section.about .container .inner .grid-row .item:nth-of-type(4) .img {
    background: url("../img/imgSpriteCompressed.png") no-repeat;
    background-position: -300px 0; }

section.roadmap .container .inner .road-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  section.roadmap .container .inner .road-item .road {
    opacity: 0;
    width: 20%; }
    section.roadmap .container .inner .road-item .road .bullet {
      width: 18px;
      height: 18px;
      border-radius: 100%;
      border: 2px solid #ed824e; }
    section.roadmap .container .inner .road-item .road .line {
      width: 2px;
      height: calc(100% - 18px);
      background: url("../img/dashedBG.png");
      margin-left: 8px; }
  section.roadmap .container .inner .road-item .text {
    width: 80%;
    margin-bottom: 75px;
    -webkit-transform: translateX(30px);
    transform: translateX(30px); }
    section.roadmap .container .inner .road-item .text p {
      margin-top: -2px; }
      section.roadmap .container .inner .road-item .text p:first-of-type {
        color: black;
        font-weight: bold; }
    section.roadmap .container .inner .road-item .text .more-text {
      display: none; }
      section.roadmap .container .inner .road-item .text .more-text p {
        color: #666;
        font-weight: normal; }
    section.roadmap .container .inner .road-item .text .btn {
      background: #0299f1;
      border-radius: 5px;
      border: 2px solid #0299f1;
      transition: 500ms ease-in-out;
      min-width: 65px;
      text-align: center; }
      section.roadmap .container .inner .road-item .text .btn p {
        color: white;
        margin-bottom: 0;
        transition: 500ms ease-in-out; }
      section.roadmap .container .inner .road-item .text .btn.open {
        background: white;
        border: 2px solid #0299f1; }
        section.roadmap .container .inner .road-item .text .btn.open p {
          color: #0299f1; }
  section.roadmap .container .inner .road-item.complete .road .bullet {
    border-color: #8903aa; }
  section.roadmap .container .inner .road-item.complete .road .line {
    background: #8903aa; }
  section.roadmap .container .inner .road-item.active .road .bullet {
    height: 20px;
    width: 20px;
    margin-left: -1px;
    position: relative;
    border-color: #ed824e; }
    section.roadmap .container .inner .road-item.active .road .bullet:after {
      content: '';
      background: #ed824e;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      display: block;
      position: absolute;
      left: 3px;
      top: 3px; }
  section.roadmap .container .inner .road-item.active .road .line {
    height: calc(100% - 20px); }

section.team .container .inner .title .small-title-text {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  section.team .container .inner .title .small-title-text p {
    font-family: unset;
    text-align: center;
    color: #666;
    letter-spacing: 0.5px;
    font-size: 15px; }
  section.team .container .inner .title .small-title-text ul {
    margin: 0 auto; }
    section.team .container .inner .title .small-title-text ul li {
      list-style-type: disc;
      text-align: left;
      color: #666;
      letter-spacing: 0.5px;
      font-size: 15px; }

section.team .container .inner .grid-row .team-member {
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-box-shadow: 0 0 20px 5px #e2e2e2;
  box-shadow: 0 0 20px 5px #e2e2e2;
  margin-top: 50px;
  text-align: center;
  background: #f7f7f7;
  border-radius: 15px; }
  section.team .container .inner .grid-row .team-member .inner {
    padding: 15px; }
    section.team .container .inner .grid-row .team-member .inner .img {
      margin: 0 auto;
      border-radius: 100%;
      height: 100px;
      width: 100px;
      margin-bottom: 20px; }
    section.team .container .inner .grid-row .team-member .inner .text {
      min-height: 144px; }
      section.team .container .inner .grid-row .team-member .inner .text p {
        font-size: 16px;
        margin-bottom: 10px;
        color: #222222; }
      section.team .container .inner .grid-row .team-member .inner .text .name p {
        font-weight: 600;
        font-size: 18px; }
      section.team .container .inner .grid-row .team-member .inner .text .function p {
        font-size: 17px;
        color: #666666; }
      section.team .container .inner .grid-row .team-member .inner .text .small-text {
        width: 162px;
        margin: 0 auto; }
        section.team .container .inner .grid-row .team-member .inner .text .small-text p {
          color: #999999; }
    section.team .container .inner .grid-row .team-member .inner .social {
      margin-top: 15px; }
      section.team .container .inner .grid-row .team-member .inner .social .linkedIn {
        position: relative; }
        section.team .container .inner .grid-row .team-member .inner .social .linkedIn i {
          color: #0077B5; }
  section.team .container .inner .grid-row .team-member.Leedo .inner .img {
    background: url("../img/imgSpriteCompressed.png") no-repeat;
    background-position: 0 -95px; }
  section.team .container .inner .grid-row .team-member.Gerard .inner .img {
    background: url("../img/imgSpriteCompressed.png") no-repeat;
    background-position: -100px -95px; }
  section.team .container .inner .grid-row .team-member.Stijn .inner .img {
    background: url("../img/imgSpriteCompressed.png") no-repeat;
    background-position: -300px -95px; }
  section.team .container .inner .grid-row .team-member.Bram .inner .img {
    background: url("../img/imgSpriteCompressed.png") no-repeat;
    background-position: -400px -95px; }
  section.team .container .inner .grid-row .team-member.Jordey .inner .img {
    background: url("../img/imgSpriteCompressed.png") no-repeat;
    background-position: -200px -95px; }
  section.team .container .inner .grid-row .team-member.filler {
    display: none; }

section.faq .container {
  width: 100%; }
  section.faq .container .inner .accordion .card .card-header button {
    padding: 0;
    width: 100%;
    color: #212121;
    white-space: unset;
    text-align: center; }
  section.faq .container .inner .accordion .card .card-header .btn-link:hover, section.faq .container .inner .accordion .card .card-header .btn-link:focus {
    text-decoration: none; }

section.testimonials .container .inner .grid-row .testimonials-item {
  min-height: 259px; }
  section.testimonials .container .inner .grid-row .testimonials-item .inner {
    padding: 30px 15px; }
    section.testimonials .container .inner .grid-row .testimonials-item .inner .img {
      background: url("../img/imgSpriteCompressed.png") no-repeat;
      background-position: 0 -195px; }
    section.testimonials .container .inner .grid-row .testimonials-item .inner .text {
      width: 95%;
      margin: 0 auto; }
      section.testimonials .container .inner .grid-row .testimonials-item .inner .text .small-text {
        width: 100%; }
        section.testimonials .container .inner .grid-row .testimonials-item .inner .text .small-text p {
          color: #666666;
          margin-bottom: 0; }
  section.testimonials .container .inner .grid-row .testimonials-item:nth-of-type(2) .inner .img {
    background: url("../img/imgSpriteCompressed.png") no-repeat;
    background-position: -100px -195px; }
  section.testimonials .container .inner .grid-row .testimonials-item:nth-of-type(3) .inner .img {
    background: url("../img/imgSpriteCompressed.png") no-repeat;
    background-position: -200px -195px; }
  section.testimonials .container .inner .grid-row .testimonials-item:nth-of-type(4) .inner .img {
    background: url("../img/imgSpriteCompressed.png") no-repeat;
    background-position: -300px -195px; }

section.contact .container .inner .info {
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px); }
  section.contact .container .inner .info i {
    color: #0299f1;
    font-size: 20px;
    margin-right: 25px;
    margin-top: 2px; }
  section.contact .container .inner .info .email,
  section.contact .container .inner .info .location,
  section.contact .container .inner .info .twitter {
    display: flex;
    flex-direction: row; }
  section.contact .container .inner .info .twitter {
    position: relative; }
  section.contact .container .inner .info h4 {
    font-size: 18px;
    color: #666; }

footer {
  background: #333;
  text-align: center; }
  footer .container .inner {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    footer .container .inner .img {
      background: url("../img/imgSpriteCompressed.png") no-repeat;
      background-position: 0 -370px;
      height: 150px;
      width: 240px;
      margin: 30px 0; }
    footer .container .inner p {
      margin: 0 0 30px 0;
      color: #666; }
    footer .container .inner #animation_container {
      margin: 0 auto;
      width: 100% !important; }
      footer .container .inner #animation_container canvas {
        width: 100% !important;
        height: auto !important; }
        footer .container .inner #animation_container canvas:last-of-type {
          display: none !important; }
        footer .container .inner #animation_container canvas:first-of-type {
          display: block !important; }

@media screen and (max-width: 400px) {
  section.intro .container .inner .right-side .inner {
    height: unset; }
    section.intro .container .inner .right-side .inner .watch-video .inner {
      height: auto; } }

@media screen and (min-width: 450px) {
  header .container .inner {
    padding: 0 15px; }
  section.intro .container .inner .mobile-phone .img {
    background: url("../img/introPhone2.png") no-repeat center 0;
    -webkit-background-size: contain;
    background-size: contain;
    width: 100%; }
  section.contact .container .inner .info {
    width: 260px;
    margin: 0 auto; }
  footer .container .inner #animation_container {
    width: 390px !important;
    height: 228.497px !important; }
    footer .container .inner #animation_container canvas {
      width: 390px !important;
      height: 228.497px !important; } }

@media screen and (min-width: 767px) {
  .phoneAnimationGif {
    width: 290px;
    height: 550px; }
  .desktop-phone {
    display: block; }
  .mobile-phone {
    display: none; }
  section {
    margin: 50px 0 90px 0;
    padding-top: 40px; }
    section .container {
      width: 80%; }
  section.faq .container {
    width: 50%; }
  header .container {
    width: 80%; }
    header .container .inner .logo .text h1 {
      font-size: 27px; }
    header .container .inner .logo .text p {
      bottom: 0; }
    header .container .inner .brand h1 {
      margin-right: -65px;
      font-size: 27px; }
  section.intro {
    min-height: 65vh; }
    section.intro .container .inner {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      section.intro .container .inner .left-side {
        width: 350px;
        display: flex;
        justify-content: center; }
        section.intro .container .inner .left-side .img {
          width: 220px;
          height: 400px;
          display: block;
          margin-bottom: 2rem; }
      section.intro .container .inner .right-side {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; }
        section.intro .container .inner .right-side .inner .text {
          width: 100%; }
          section.intro .container .inner .right-side .inner .text p:last-of-type {
            margin-bottom: 0; }
        section.intro .container .inner .right-side .inner .buttons {
          align-items: flex-start; }
          section.intro .container .inner .right-side .inner .buttons .watch-video {
            width: 200px; }
            section.intro .container .inner .right-side .inner .buttons .watch-video .inner {
              padding: 0; }
      section.intro .container .inner .mobile-phone .img {
        display: none; }
  section.download .container .inner .buttons {
    margin: 2rem 0 0 0; }
    section.download .container .inner .buttons .android .img,
    section.download .container .inner .buttons .ios .img {
      height: 60px;
      width: 180px; }
    section.download .container .inner .buttons .android {
      justify-content: flex-start; }
    section.download .container .inner .buttons .ios {
      display: flex;
      justify-content: flex-end; }
  section.about .container .inner .grid-row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    section.about .container .inner .grid-row .item {
      width: 45%;
      text-align: left; }
      section.about .container .inner .grid-row .item.filler {
        display: block; }
  section.roadmap .container .inner .road-item {
    width: 660px;
    margin: 0 auto; }
  section.team .container .inner .title .small-title-text {
    font-size: 18px; }
  section.team .container .inner .grid-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; }
    section.team .container .inner .grid-row .team-member {
      width: 47%; }
      section.team .container .inner .grid-row .team-member.filler {
        display: block; }
  section.testimonials .container .inner .grid-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    section.testimonials .container .inner .grid-row .testimonials-item {
      min-height: 331px; }
  .small-title-text {
    width: 50%;
    margin: 0 auto; } }

@media screen and (max-width: 992px) {
  section.intro .container .inner .right-side .inner .download-buttons .android .img {
    background: url("../img/android-download-btn.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain; }
  section.intro .container .inner .right-side .inner .download-buttons .ios .img {
    background: url("../img/apple-download-btn.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain; } }

@media screen and (min-width: 992px) {
  * {
    scroll-behavior: smooth !important; }
  section {
    margin: 30px 0 60px 0;
    padding-top: 30px; }
  section.intro .container .inner .top .img {
    -webkit-background-size: contain;
    background-size: contain; }
  section.intro .container .inner .right-side .inner .second-title {
    font-size: 37px;
    text-align: left; }
  section.intro .container .inner .right-side .inner p {
    text-align: left;
    font-size: 20px; }
  section.testimonials .container .inner .grid-row .testimonials-item {
    min-height: 358px !important; }
  section.team .container .inner .grid-row .team-member {
    width: 45%; }
  section.download .container .inner .buttons .android .img,
  section.download .container .inner .buttons .ios .img {
    height: 100px;
    width: 220px; }
  section.download .container .inner .buttons .android,
  section.download .container .inner .buttons .ios {
    justify-content: center; } }

@media screen and (min-width: 1200px) {
  section {
    margin: 0 0 90px 0;
    padding-top: 90px; }
  header .container .inner .menu {
    justify-content: flex-start; }
    header .container .inner .menu .mobileNavIcon {
      display: none; }
    header .container .inner .menu .desktop-menu {
      display: block; }
  section.download .container .inner .buttons {
    margin: 2rem 0 0 0; }
    section.download .container .inner .buttons .android .img,
    section.download .container .inner .buttons .ios .img {
      height: 60px;
      width: 180px; }
    section.download .container .inner .buttons .android {
      justify-content: flex-start; }
    section.download .container .inner .buttons .ios {
      display: flex;
      justify-content: flex-end; } }

.phoneAnimationGif {
  font-family: sans-serif;
  font-weight: 500;
  width: 260px;
  height: 520px;
  background: white;
  border: 10px solid #efefed;
  position: relative;
  border-radius: 35px;
  color: white;
  margin: 0 auto;
  transform: scale(0.9);
  overflow: hidden; }
  .phoneAnimationGif section {
    padding-top: 0;
    margin: 0; }
  .phoneAnimationGif section.topbar {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 22px;
    border-radius: 35px 35px 0 0; }
    .phoneAnimationGif section.topbar .inner {
      display: flex;
      flex-direction: row; }
      .phoneAnimationGif section.topbar .inner .left {
        width: 25%;
        height: 20px;
        border-radius: 35px 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .phoneAnimationGif section.topbar .inner .left p {
          color: white;
          margin: 0;
          font-size: 10px; }
      .phoneAnimationGif section.topbar .inner .notch {
        background: #efefed;
        width: 50%;
        height: 20px;
        border-radius: 0 0 13px 13px;
        position: relative; }
        .phoneAnimationGif section.topbar .inner .notch .bar {
          width: 25%;
          height: 5px;
          margin: 0 auto;
          margin-top: 5px;
          background: #aeafaf;
          border-radius: 35px;
          position: relative;
          z-index: 1; }
        .phoneAnimationGif section.topbar .inner .notch:before {
          content: "";
          background: #efefed;
          position: absolute;
          left: -2px;
          right: -2px;
          top: 0px;
          height: 10px;
          border-radius: 0 0 105px 105px; }
      .phoneAnimationGif section.topbar .inner .right {
        width: 25%;
        height: 20px;
        border-radius: 0 35px 0 0;
        display: flex;
        flex-direction: row; }
        .phoneAnimationGif section.topbar .inner .right .inner {
          width: 100%;
          padding: 0 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          height: 20px; }
          .phoneAnimationGif section.topbar .inner .right .inner i {
            font-size: 10px;
            color: white; }
  .phoneAnimationGif section.topbarContent {
    background: black;
    margin-top: 20px; }
    .phoneAnimationGif section.topbarContent .inner {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 15px; }
      .phoneAnimationGif section.topbarContent .inner .title {
        margin-bottom: 0; }
        .phoneAnimationGif section.topbarContent .inner .title h2 {
          color: white;
          text-align: center;
          text-transform: uppercase;
          margin: 0;
          font-size: 17px;
          letter-spacing: 1px; }
      .phoneAnimationGif section.topbarContent .inner .menu {
        position: absolute;
        top: 15px;
        right: 15px; }
        .phoneAnimationGif section.topbarContent .inner .menu .dots {
          display: flex;
          justify-content: center;
          flex-direction: column; }
          .phoneAnimationGif section.topbarContent .inner .menu .dots .dot {
            background: white;
            height: 4px;
            width: 4px;
            border-radius: 100%;
            margin-top: 3px; }
            .phoneAnimationGif section.topbarContent .inner .menu .dots .dot:first-of-type {
              margin-top: 0; }
  .phoneAnimationGif section.menuType .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 0 15px; }
    .phoneAnimationGif section.menuType .inner .type {
      width: 30%; }
      .phoneAnimationGif section.menuType .inner .type p {
        font-weight: bold;
        text-align: center;
        margin: 0;
        padding: 15px 0 10px 0; }
      .phoneAnimationGif section.menuType .inner .type.reports p {
        color: #28bbd5; }
      .phoneAnimationGif section.menuType .inner .type.prices p {
        color: #cd3063; }
      .phoneAnimationGif section.menuType .inner .type.tools p {
        color: #f07f31; }
  .phoneAnimationGif section.highlightParent {
    margin-bottom: 20px; }
    .phoneAnimationGif section.highlightParent .inner {
      padding: 0 19px;
      display: flex;
      flex-direction: row;
      justify-content: unset;
      height: unset; }
      .phoneAnimationGif section.highlightParent .inner .highlight {
        background: #28bbd5;
        width: 60px;
        height: 2px;
        animation-name: highlightAnim;
        animation-direction: normal;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-delay: 1s; }
  .phoneAnimationGif section.menuList {
    position: relative; }
    .phoneAnimationGif section.menuList .inner {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 0 15px 0;
      display: flex;
      flex-direction: row;
      animation-name: itemsAnim;
      animation-direction: normal;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-delay: 1s; }
      .phoneAnimationGif section.menuList .inner .reportsType,
      .phoneAnimationGif section.menuList .inner .pricesType,
      .phoneAnimationGif section.menuList .inner .toolsType {
        width: 210px;
        margin: 0 15px; }
        .phoneAnimationGif section.menuList .inner .reportsType .items .item,
        .phoneAnimationGif section.menuList .inner .pricesType .items .item,
        .phoneAnimationGif section.menuList .inner .toolsType .items .item {
          height: 60px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin: 13px 0;
          border-radius: 7px; }
          .phoneAnimationGif section.menuList .inner .reportsType .items .item p,
          .phoneAnimationGif section.menuList .inner .pricesType .items .item p,
          .phoneAnimationGif section.menuList .inner .toolsType .items .item p {
            text-transform: uppercase;
            margin: 0;
            width: 70%;
            text-align: center;
            font-size: 13px;
            color: white; }
          .phoneAnimationGif section.menuList .inner .reportsType .items .item i,
          .phoneAnimationGif section.menuList .inner .pricesType .items .item i,
          .phoneAnimationGif section.menuList .inner .toolsType .items .item i {
            position: absolute;
            top: 20px;
            right: 10px;
            padding: 8px;
            border-radius: 100%;
            border: 1px solid white;
            width: 10px;
            height: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 11px; }
          .phoneAnimationGif section.menuList .inner .reportsType .items .item:first-of-type,
          .phoneAnimationGif section.menuList .inner .pricesType .items .item:first-of-type,
          .phoneAnimationGif section.menuList .inner .toolsType .items .item:first-of-type {
            margin-top: 0; }
      .phoneAnimationGif section.menuList .inner .reportsType .items .item {
        background: #37cedc;
        background: -webkit-gradient(left top, right top, color-stop(0%, #37cedc), color-stop(100%, #5a88e4));
        background: -webkit-gradient(linear, left top, right top, from(#37cedc), to(#5a88e4));
        background: linear-gradient(to right, #37cedc 0%, #5a88e4 100%); }
      .phoneAnimationGif section.menuList .inner .pricesType .items .item {
        background: #be2b61;
        background: -webkit-gradient(left top, right top, color-stop(0%, #be2b61), color-stop(100%, #7c3983));
        background: -webkit-gradient(linear, left top, right top, from(#be2b61), to(#7c3983));
        background: linear-gradient(to right, #be2b61 0%, #7c3983 100%); }
      .phoneAnimationGif section.menuList .inner .toolsType .items .item {
        background: #ef9219;
        background: -webkit-gradient(left top, right top, color-stop(100%, #ef9219), color-stop(0%, #fd562c));
        background: -webkit-gradient(linear, left top, right top, color-stop(100%, #ef9219), color-stop(0%, #fd562c));
        background: linear-gradient(to right, #ef9219 100%, #fd562c 0%); }

@-webkit-keyframes highlightAnim {
  0% {
    transform: translateX(0);
    background: #28bbd5; }
  10% {
    transform: translateX(0);
    background: #28bbd5; }
  20% {
    transform: translateX(0);
    background: #28bbd5; }
  30% {
    transform: translateX(80px);
    background: #cd3063; }
  40% {
    transform: translateX(80px);
    background: #cd3063; }
  50% {
    transform: translateX(80px);
    background: #cd3063; }
  60% {
    transform: translateX(160px);
    background: #f07f31; }
  70% {
    transform: translateX(160px);
    background: #f07f31; }
  80% {
    transform: translateX(160px);
    background: #f07f31; }
  90% {
    transform: translateX(0);
    background: #28bbd5; }
  100% {
    transform: translateX(0);
    background: #28bbd5; } }

@keyframes highlightAnim {
  0% {
    transform: translateX(0);
    background: #28bbd5; }
  10% {
    transform: translateX(0);
    background: #28bbd5; }
  20% {
    transform: translateX(0);
    background: #28bbd5; }
  30% {
    transform: translateX(72px);
    background: #cd3063; }
  40% {
    transform: translateX(72px);
    background: #cd3063; }
  50% {
    transform: translateX(72px);
    background: #cd3063; }
  60% {
    transform: translateX(146px);
    background: #f07f31; }
  70% {
    transform: translateX(146px);
    background: #f07f31; }
  80% {
    transform: translateX(146px);
    background: #f07f31; }
  90% {
    transform: translateX(0);
    background: #28bbd5; }
  100% {
    transform: translateX(0);
    background: #28bbd5; } }

@-webkit-keyframes itemsAnim {
  0% {
    left: 0; }
  10% {
    left: 0; }
  20% {
    left: 0; }
  30% {
    left: -240px; }
  40% {
    left: -240px; }
  50% {
    left: -240px; }
  60% {
    left: -480px; }
  70% {
    left: -480px; }
  80% {
    left: -480px; }
  90% {
    left: 0; }
  100% {
    left: 0; } }

@keyframes itemsAnim {
  0% {
    left: 0; }
  10% {
    left: 0; }
  20% {
    left: 0; }
  30% {
    left: -240px; }
  40% {
    left: -240px; }
  50% {
    left: -240px; }
  60% {
    left: -480px; }
  70% {
    left: -480px; }
  80% {
    left: -480px; }
  90% {
    left: 0; }
  100% {
    left: 0; } }
